body{
	background-image: url(img/FondoBody.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;         
    background-size: 100% 100%;
	margin-top:Arial;
	font-family: Verdana;
}
.textbox{
	margin-right:5px;
	margin-left:auto;
}
#contenido{
	margin:auto;
	width:1000px;
}
#cabecera{
	height:120px;
	width:100%;
	margin-bottom: -20px;
	/**margin-top;0px;
	float:left;**/
	/*margin-left:auto;
	margin-right:auto;*/
}
#fondoCabecera{
	width:100%;
	height:100%;
	float:left;
	z-index:0;
}
#titleHeader{
	float:left;
	margin-top:-110px;
	margin-left:80px;
}
#titleHeader img{
	float:left;
}
#titleHeader h1{
	float:left;
	margin-left: 40px;
	color: #d4d4d4;
}
#titleHeader h3{
	float:left;
	margin-left:-150px;
	padding-top: 45px;
	color:#d4d4d4;
}
#redesSociales{
	float:right;
	width: 220px;
	margin-top:-110px;
	margin-right: 50px;
}
#redesTitle{
	background-color: #2b4e78;
	padding-left: 20px;
}
#redesTitle h3{
	color:#d4d4d4;
}
#redesLinks{
	margin-top:-15px;
	background-color: #d4d4d4;
	padding-top: 5px;
	padding-left:40px;
}
#redesLinks img{
	width: 25px;
	height: 25px;
	margin-left: 5px;
}
#labelNick{
	margin-left:34px;
	text-align:left;
}
#contenedorCuerpo{

	height : auto;
	width : 760px;
	background-image:url(img/fondoContenedorCuerpo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;         
    background-size: 100% 100%;
	margin-left:100px;
	margin-right:120px;
	margin-top:0px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	float: left;
	z-index:1;
}
#central
{
	padding-left : 10px;
	background-color:#E7E8E7;
	-webkit-background-color:#E7E8E7;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
#imagenEvento{
	height:80px;
	width:80px;
	float:left;
	margin-right:5px;
}
.evento{
	background-color: #E2ECEE;
	padding:auto;
	margin:auto;
}
.formularios{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.formularios label{
    display: block;
    font-weight: bold;
}
.formularios div{
    margin-bottom: 15px;
}
.formularios input[type='text'], .formularios textarea, .formularios input[type='password'], .formularios select{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.formularios input[type='text']:focus, .formularios textarea:focus, .formularios input[type='password'], .formularios select{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.formularios input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.formularios input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.formularios input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.formularios input[type='reset']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.formularios input[type='reset']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.formularios input[type='reset']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.formularios button{
	border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
} 
.formularios button:hover{
	background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.formularios button:active{
	background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
a{
	text-decoration:none;
}
#texto{
	padding-left:4px;
	padding-right:4px;
}
#pie{
	margin-top:20px;
	width:100%;
	background-image:url(img/BannerVerde.jpg);
	float: left;
}
#enlaces{
	margin-left: 30px;
	padding-top: 1px;
	padding-bottom: 20px;
	width: 40%;
	float: left;
}
#enlaces h3{
	color:white;
	margin: 10px, 10px, 10px, 10px;
} 
#enlaces a{
	text-decoration: none;
	color: #d4d4d4;
}
#contacta{
	margin-left: 30px;
	margin-right: 50px;
	padding-top: 1px;
	padding-bottom: 20px;
	width: 40%;
	float: right;
}
#contacta h3{
	color:white;
	margin: 10px, 10px, 10px, 10px;
}
#contacta a{
	text-decoration: none;
	color: #d4d4d4;
}


/*slider*/
.ws_images{
	width:650px;
}

#login a{
	background-color:#b5b6ae;
	text-align:right;
	display:inline-block;
	color: #d4d4d4;
	
}

/*CSS para el Menu*/
.menu{
	background-color:#b5b6ae;
	text-align:center;
	display:block;
	/*margin-left:auto;
	margin-right: auto;*/
	}

 
.menu li{
	display: inline-block;
	position: relative;
	margin:auto;
	z-index:100;
	margin:auto;
	}
 
.menu li a {
	font-weight:600;
	text-decoration:none;
	padding:11px;
	display:block;
	color:black;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	margin:auto;
}
 
.menu li a:hover, .menu li:hover > a{
	color:black;
	background:#d6d8cc;
	margin:auto;
	}
	

.fixed{
	background-color:#b5b6ae;
	text-align:center;
	display:block;
	position: fixed;
	top:0px;
	width:1000px;
	}
	
.fixed li{
	display: inline-block;
	position: relative;
	z-index:100;
}
.fixed li a {
	font-weight:600;
	text-decoration:none;
	padding:11px;
	display:block;
	color:black;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	margin-top: -20px;
	margin-bottom: -20px;
}
 
.fixed li a:hover, .fixed li:hover > a{
	color:black;
	background:#d6d8cc;
	}
	
.albumGaleria{
	text-align:center;
	width:160px;
	height:175px;
	
	float:left;
	margin:10px;
	word-wrap: break-word;

}

	
.imagenGaleria{
	text-align:center;
	width:170px;
	height:170px;
	float:left;
	margin:10px;

}	
/*Redes sociales botones*/	


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	/text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon
{
	width:20px;
	height:20px;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}




